$theme-colors: (
  "primary": #521751,
  "danger": #b80c03
);
$border-radius:  5rem;
// Bootstrap and its default variables
// @import "../node_modules/bootstrap/scss/bootstrap";


// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/buttons";


/* scrolltop style s */
.long {
  display: none;
  width: 100%;
}
.long.scroll {
  display: block;
  z-index: 9;
}
.long .scroll {
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  border-color: transparent;
  background-color: #7773A8;
  font-size: 14.81481481px;
  font-weight: 600;
  cursor: pointer;
}
.long .scroll:focus {
  outline: 0;
}
.long .scroll .fa-angle-up:before {
  font-size: 20px;
  font-weight: 800;
}
.long .text-uppercase {
  display: block;
  text-transform: uppercase;
}
/* scrolltop style e */
